---
import { youtube, spotify, instagram, tiktok } from "../lib/icons";
import { Image } from "astro:assets";
import type { Artist } from "../lib/types/artist";

interface Props {
  artist: Artist;
}
const { artist } = Astro.props;
---

<div class="social-row">
  <a href={artist.instagram} target="_blank">
    <Image alt="Instagram" src={instagram} />
  </a>
  {
    artist.tiktok && (
      <a href={artist.tiktok} target="_blank">
        <Image alt="Tiktok" src={tiktok} height={24} width={24} />
      </a>
    )
  }
  {
    artist.spotify && (
      <a href={artist.spotify} target="_blank">
        <Image alt="Spotify" src={spotify} />
      </a>
    )
  }
  {
    artist.youtube && (
      <a href={artist.youtube} target="_blank">
        <Image alt="Youtube" src={youtube} />
      </a>
    )
  }
</div>

<style>
  .social-row {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }
</style>
